/* Button CSS - START */

@import "../../constants/_variables.scss";

.button {
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 0;
  color: $white;
  &.dark {
    background-color: $button-primary;
    border: 1px solid $button-primary;
    &:hover{
      background-color: $white;
      color: $button-primary;
      cursor: pointer;
    }
  }
  &.light {
    background-color: $white;
    border: 1px solid $button-primary;
    &:hover{
      background-color: $button-primary;
      color: $white;
      cursor: pointer;
    }
  }
  &.large{
    width: 100%;
    font-size: $regular;
  }
  &.medium{
    width: 50%;
    padding: 7px 10px;
    font-size: $smaller;
  }
  &.small{
    width: 15%;
    font-size: $tiny;
  }
  &:focus{
    outline: none;
  }
}
@media only screen and (max-width: 900px) {
  .button {
    &.medium{
      width: 100%;
    }
    &.small{
      width: 100%;
    }
  }
}
/* Button CSS - END */
